html {
max-width: 1400px;
position: relative;
background: #ffffff;
margin-left: auto;
margin-right: auto;
}

#myCarousel{
	background-image: url('../images/carousel/papel.png');
	margin: 5em 0 10em 0;
}
#myCarousel-inner{
	position: relative;
}

#edificio{
	padding-top: 12em;
	padding-bottom: 6em;
}

#titulo-container{
	position: absolute;
	padding-top: 2em;
}

#titulo{
	right:0;
	width:40%;
	height:50%;
	margin-left: 50em;
}

#sub-titulo{
	right:0;
	width:40%;
	height:8em;
	padding-top: 10px;
	margin-left: 50em;
}

.transparent{
	opacity: 0;
}

.tablas{
	margin-right: 2em;

}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.small-td{
}
.small-table{}

.table-config{

}
#tablaizq{
	padding-left: 5em;
}

#tablader{
	padding-right: 5em;
}

.info{
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 1em;
	font-size:1.5em; 
	line-height:1.1;
}
 
.nav-texto{
	font-size: 3em;
    color: white;
    margin: 0;
	border: 0;
	padding: 0.3em;
}

.link{    
	width: 80%;  
}

.about{	
	padding-top: 2em;
	padding-bottom: 2em;
}
.about header{
	padding-top: 1em;
}

.about article{
	font-family: Arial;
    font-size: 120%;
}

.navbar-wrapper{
	height:100px;
}

.enmarcar{        
	padding:5px;       
	border:5px solid #000000;
}

.padding-top-6{
	padding-top: 1em;
	}
.no-padding{
	padding: 0;
}

.no-margins{
	margin: 0;
	border: 0;
	border-radius:0; 
}

.formato{
	padding-top: 3em;
	padding-bottom: 3em;
}

@media (max-width: 480px) {
	.width-60{
		width: 60%;
		margin-left: 0;
	}
	.width-40{
		width: 40%;
	}
	.pull-right{
		float: none !important;
	}
	h2{
		font-size: 20px;
	}
}

@media (max-width: 550px) {
	h2{
		font-size: 20px;
	}
}

@media (max-width: 767px){
	.small-col{
		padding: 0% 2%;
		width: 90%;
		margin-left: 10%; 
	}
}
@media (min-width: 615px) and (max-width: 767px){
	.info{
		font-size: 1.8em;
		padding-top: 3em;
	}
}
@media (max-width: 615px){
	.info{
		padding-top: 3em;
	}
}
@media (max-width: 480px){
	.width-100{
		width: 100%;
	}
	.width-50{
		width: 50%;
		margin-left: 25%;
	}
	.info{
		padding-top: 1.5em;
	}
}

.back {	background:url(../images/museos_0000_Vector-Smart-Object.png) right no-repeat fixed #fff; 
	}

.back-to-top {
	background: none;
	margin: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 60px;
	height: 60px;
	z-index: 100;
	display: none;
	text-decoration: none;
}

.scroll, .back-to-top{
	cursor: pointer;
}

