html {
max-width: 1300px;
position: relative;
background: #ffffff;
margin-left: auto;
margin-right: auto;
}

.myCarousel{
	/*background-image: url('../images/carousel/papel.png');*/
	margin: 5em 0 10em 0;
}
#myCarousel-inner{
	position: relative;
}

#edificio{
	padding-top: 12em;
	padding-bottom: 6em;
}

#titulo-container{
	position: absolute;
	padding-top: 2em;
}

#titulo{
	right:0;
	width:40%;
	height:50%;
	margin-left: 50em;
}

#sub-titulo{
	right:0;
	width:40%;
	height:8em;
	padding-top: 10px;
	margin-left: 50em;
}

.transparent{
	opacity: 0;
}

.tablas{
	margin-right: 2em;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.small-td{
}
.small-table{}

.table-config{

}
#tablaizq{
	padding-left: 5em;
}

#tablader{
	padding-right: 5em;
}

.info{
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 1em;
	font-size:1.5em; 
	line-height:1.1;
}
 
.nav-texto{
	font-size: 3em;
    color: white;
    margin: 0;
	border: 0;
	padding: 0.3em;
}

.link{    
	width: 80%;  
}

.about{	
	padding-top: 2em;
	padding-bottom: 2em;
}
.about header{
	padding-top: 1em;
}

.about article{
	font-family: Arial;
    font-size: 120%;
}

.navbar-wrapper{
	height:100px;
}

.enmarcar{        
	padding:3px;       
}
.transparent{
	opacity: 0;
}

.padding-top-6{
	padding-top: 1em;
	}
.no-padding{
	padding: 0;
}

.no-margins{
	margin: 0;
	border: 0;
	border-radius:0; 
}

.formato{
	padding-top: 2em;
	padding-bottom: 3em;
}

/*
.img-height-transicion{
	min-height: 280px;
}*/

@media (max-width: 480px) {
	.width-60{
		width: 60%;
		margin-left: 0;
	}
	.width-40{
		width: 40%;
	}
	.pull-right{
		float: none !important;
	}
	h2{
		font-size: 20px;
	}
}

@media (max-width: 550px) {
	h2{
		font-size: 20px;
	}
}

@media (max-width: 767px){
	.small-col{
		padding: 0% 2%;
		width: 90%;
		margin-left: 10%; 
	}
}
@media (min-width: 615px) and (max-width: 767px){
	.info{
		font-size: 1.8em;
		padding-top: 3em;
	}
}
@media (max-width: 615px){
	.info{
		padding-top: 3em;
	}
}
@media (max-width: 480px){
	.width-100{
		width: 100%;
	}
	.width-50{
		width: 50%;
		margin-left: 25%;
	}
	.info{
		padding-top: 1.5em;
	}
}


.back {	background:url(../images/museos_0000_Vector-Smart-Object.png) right no-repeat fixed #fff; 
	}

.back-to-top {
	background: none;
	margin: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 60px;
	height: 60px;
	z-index: 100;
	display: none;
	text-decoration: none;
}

.scroll, .back-to-top{
	cursor: pointer;
}

.parallax-window {
    background: transparent;
}

.paraxify {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.paraxifyT {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.museos-dinamicos{
	position: absolute;
	font-size: 3.5vw;
	font-weight: bolder;
}
.pos1{
	padding-top: 10%;
	padding-left: 10%;
	font-family: roboto;
	color:#838EE2;
}
.pos2{
	padding-top: 30%;
	padding-left: 60%;
	font-family: Cinzel;
	color: #B9520A;
	
}
.pos3{
	padding-top: 5%;
	padding-left: 2%;
	font-family: lato;
	color: #C37A78;
}
.pos4{
	padding-top: 40%;
	padding-left: 20%;
	font-family: Montserrat;
	color: #D8A201;
}
.pos5{
	padding-top: 45%;
	padding-left: 40%;
	font-family: Raleway;
	color: #518E51;
}
.pos6{
	padding-top: 30%;
	padding-left: 35%;
	font-family: Shadows Into Light;
	color: #A9112D;
}
.pos7{
	padding-top: 10%;
	padding-left: 50%;
	font-family: Dancing Script;
	color: #008080;
}
.pos8{
	padding-top: 48%;
	padding-left: 70%;
	font-family: Dosis;
	color: #708090;
}
.pos9{
	padding-top: 35%;
	padding-left: 25%;
	font-family: Inconsolata;
	color: #303096;
}
.pos10{
	padding-top: 40%;
	padding-left: 50%;
	font-family: Lobster;
	color: #4FB37C;
}
.pos11{
	padding-top: 15%;
	padding-left: 10%;
	font-family: Nunito;
	color: #963A57;
}
.pos12{
	padding-top: 30%;
	padding-left: 35%;
	font-family: Orbitron;
	color: #D2691E;
}

.fondo_amazonas{
    background-image: url(../fondos/amazonas.png)!important;
}
.fondo_ancash{
    background-image: url(../fondos/ancash.resized.png);
}
.fondo_arequipa{
    background-image: url(../fondos/arequipa.png);
}
.fondo_ayacucho{
    background-image: url(../fondos/ayacucho.png);
}
.fondo_cajamarca{
    background-image: url(../fondos/cajamarca.png);
}
.fondo_callao{
    background-image: url(../fondos/callao.png);
}
.fondo_cusco{
    background-image: url(../fondos/cusco.png);
}
.fondo_huancavelica{
    background-image: url(../fondos/huancavelica.png);
}
.fondo_huanuco{
    background-image: url(../fondos/huanuco.png);
}
.fondo_ica{
    background-image: url(../fondos/ica.png);
}
.fondo_junin{
    background-image: url(../fondos/junin.png);
}
.fondo_lambayeque{
    background-image: url(../fondos/lambayeque.png);
}
.fondo_libertad{
    background-image: url(../fondos/la_libertad.png);
}
.fondo_lima{
    background-image: url(../fondos/lima.png);
}
.fondo_cajamarca{
    background-image: url(../fondos/cajamarca.png);
}

#mapa_amazonas { fill: #FFFFEE; transition: fill 0.4s;}
#mapa_amazonas:hover { fill: #00BBAA; }

#mapa_loreto { fill: #FFFFEE; transition: fill 0.4s; }
#mapa_loreto:hover { fill: #00BBAA; }

#mapa_san_martin { fill: #FFFFEE; transition: fill 0.4s; }
#mapa_san_martin:hover { fill: #00BBAA; }

#mapa_cajamarca { fill: #FFFFEE; transition: fill 0.4s; }
#mapa_cajamarca:hover { fill: #00BBAA; }

#mapa_lambayeque { fill: #FFFFEE; transition: fill 0.4s; }
#mapa_lambayeque:hover { fill: #00BBAA; }

#mapa_piura { fill: #FFFFEE; transition: fill 0.4s; }
#mapa_piura:hover { fill: #00BBAA; }

#mapa_tumbes { fill: #FFFFEE; transition: fill 0.4s; }
#mapa_tumbes:hover { fill: #00BBAA; }

#mapa_la_libertad { fill: #FFFFEE; transition: fill 0.4s; }
#mapa_la_libertad:hover { fill: #00BBAA; }

#mapa_ancash { fill: #FFFFEE; transition: fill 0.4s; }
#mapa_ancash:hover { fill: #00BBAA; }

#mapa_huanuco { fill: #FFFFEE; transition: fill 0.4s; }
#mapa_huanuco:hover { fill: #00BBAA; }

#mapa_ucayali { fill: #FFFFEE; transition: fill 0.4s; }
#mapa_ucayali:hover { fill: #00BBAA; }

#mapa_pasco { fill: #FFFFEE; transition: fill 0.4s; }
#mapa_pasco:hover { fill: #00BBAA; }

#mapa_lima { fill: #FFFFEE; transition: fill 0.4s; }
#mapa_lima:hover { fill: #00BBAA; }

#mapa_callao { fill: #FFFFEE; transition: fill 0.4s;}
#mapa_callao:hover { fill: #00BBAA; }

#mapa_junin { fill: #FFFFEE; transition: fill 0.4s;}
#mapa_junin:hover { fill: #00BBAA; }

#mapa_madre_de_dios { fill: #FFFFEE; transition: fill 0.4s;}
#mapa_madre_de_dios:hover { fill: #00BBAA; }

#mapa_ica { fill: #FFFFEE; transition: fill 0.4s;}
#mapa_ica:hover { fill: #00BBAA; }

#mapa_ayacucho { fill: #FFFFEE; transition: fill 0.4s;}
#mapa_ayacucho:hover { fill: #00BBAA; }

#mapa_cusco { fill: #FFFFEE; transition: fill 0.4s;}
#mapa_cusco:hover { fill: #00BBAA; }

#mapa_huancavelica { fill: #FFFFEE; transition: fill 0.4s;}
#mapa_huancavelica:hover { fill: #00BBAA; }

#mapa_apurimac { fill: #FFFFEE; transition: fill 0.4s;}
#mapa_apurimac:hover { fill: #00BBAA; }

#mapa_arequipa { fill: #FFFFEE; transition: fill 0.4s;}
#mapa_arequipa:hover { fill: #00BBAA; }

#mapa_puno { fill: #FFFFEE; transition: fill 0.4s;}
#mapa_puno:hover { fill: #00BBAA; }

#mapa_monquegua { fill: #FFFFEE; transition: fill 0.4s;}
#mapa_monquegua:hover { fill: #00BBAA; }

#mapa_tacna { fill: #FFFFEE; transition: fill 0.4s;}
#mapa_tacna:hover { fill: #00BBAA; }
