#amazonas { fill: #00FFFF; }
#amazonas:hover { fill: red; }

#loreto { fill: #00FFFF; }
#loreto:hover { fill: red; }

#san_martin { fill: #00FFFF; }
#san_martin:hover { fill: red; }

#cajamarca { fill: #00FFFF; }
#cajamarca:hover { fill: red; }

#lambayeque { fill: #00FFFF; }
#lambayeque:hover { fill: red; }

#piura { fill: #00FFFF; }
#piura:hover { fill: red; }

#tumbes { fill: #00FFFF; }
#tumbes:hover { fill: red; }

#la_libertad { fill: #00FFFF; }
#la_libertad:hover { fill: red; }

#ancash { fill: #00FFFF; }
#ancash:hover { fill: red; }

#huanuco { fill: #00FFFF; }
#huanuco:hover { fill: red; }

#ucayali { fill: #00FFFF; }
#ucayali:hover { fill: red; }

#pasco { fill: #00FFFF; }
#pasco:hover { fill: red; }

#lima { fill: #00FFFF; }
#lima:hover { fill: red; }

#callao { fill: #00FFFF; }
#callao:hover { fill: red; }

#junin { fill: #00FFFF; }
#junin:hover { fill: red; }

#madre_de_dios { fill: #00FFFF; }
#madre_de_dios:hover { fill: red; }

#ica { fill: #00FFFF; }
#ica:hover { fill: red; }

#ayacucho { fill: #00FFFF; }
#ayacucho:hover { fill: red; }

#cusco { fill: #00FFFF; }
#cusco:hover { fill: red; }

#huancavelica { fill: #00FFFF; }
#huancavelica:hover { fill: red; }

#apurimac { fill: #00FFFF; }
#apurimac:hover { fill: red; }

#arequipa { fill: #00FFFF; }
#arequipa:hover { fill: red; }

#puno { fill: #00FFFF; }
#puno:hover { fill: red; }

#monquegua { fill: #00FFFF; }
#monquegua:hover { fill: red; }

#tacna { fill: #00FFFF; }
#tacna:hover { fill: red; }